<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.amazon.hackday.trms"
      android:versionCode="1"
      android:versionName="1.0">

     <uses-permission android:name="android.permission.CAMERA" />
 	 <uses-feature android:name="android.hardware.camera" />
 	 <uses-feature android:name="android.hardware.camera.autofocus" />

    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".MainMenu"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ShipMain"
                  android:label="@string/app_name">
        </activity>
        <activity android:name=".CameraActivity"
                  android:label="@string/takepicture">
        </activity>
        <activity android:name=".ShipConfirmActivity"
                  android:label="@string/shipconfirm">
        </activity>
        
		<activity android:name=".DisplayFeeActivity" android:label="@string/app_name"
          android:theme="@android:style/Theme.NoTitleBar">   
          <!-- 
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
             -->     
		</activity>
		<activity android:name=".FindAsinActivity" android:label="@string/app_name"
          android:theme="@android:style/Theme.NoTitleBar">        
		</activity>		
                <activity android:name=".CreateListingActivity" android:label="@string/app_name"
          android:theme="@android:style/Theme.NoTitleBar">
                </activity>

		<activity android:name=".DisplayFeeAmazonShipActivity"></activity>
		<activity android:name=".DisplayFeeYouShipActivity"></activity>
		<activity android:name=".EnterAsinActivity"></activity>
		<activity android:name=".FindAsinActivity" 
			android:label="@string/app_name"
          	android:theme="@android:style/Theme.NoTitleBar" 
        >        
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
		</activity>		

    </application>
    <uses-library android:name="android.test.runner" />    
</manifest>
